<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Optimize GameAssist with No Kill, Global Game Mode, and Hide Energy Cube for Nubia devices."/>
        <meta-data
            android:name="xposedminversion"
            android:value="82"/>
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme"/>

        <provider
            android:name=".SettingsProvider"
            android:authorities="com.khanhnguyen9872.nubiatoolkit.provider"
            android:exported="true"
            android:enabled="true"/>
    </application>
</manifest>
